header #logo {
    display: inline;
    position: relative;
    font: 200px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgba(0, 0, 255, 0.5);
}

body {
    height: 900px;
}

header {
    background: url("../images/mainpic3.jpg");
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 100% 100% / 0%;
}

.overlay {
    height: 100%;
    padding: 50px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    background-image: initial(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

h1 {
    font-family: 'italic', serif;
    font-size: 80px;
    margin-bottom: 30px;
}

h3,
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.holiday_button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #199;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
}

.holiday_button:hover {
    cursor: pointer;
}

.logo img {
    width: 220px;
    height: auto;
    float: left;
}

.maledesc {
    text-align: left;
    font-weight: bold;
    color: black;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.place {
    font-size: 20px;
    margin: 48px 0;
}

.place__image-container {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.3)
}

.place__image {
    width: 100%;
    vertical-align: top;
}

.place__info {
    text-align: left;
    padding: 14px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.place__name {
    margin: 3px;
    color: turquoise;
    font-family: 'Nanum Gothic', sans-serif;
}

.place__text {
    margin: 3px;
    font-size: 0.875em;
    /* 14px/16=0.875em */
}

.place__button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #199;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
}

.place__button:hover {
    cursor: pointer;
}


table, th, td {
  border: 1px solid black;
  border-collapse: inherit;
  width: 50%;
}

h2{
  font-size: 44px;
  color: black;
}

input{
  border-radius: 10px;
  width: 250px;
  height: 35px;
  text-indent: 5px;
}
input:focus{
outline: none;
}
fieldset{
  width: 50%;
  height: 690px;
  background-color: violet;
  border-radius: 5px;
  outline: none;
}
table{
  font-size: 22px;
}
td{
  line-height: 50px;
}
input[type="submit"]{
  width: 129px;
  height: 30px;
  background-color: darkgrey;
}
input[type="submit"]:hover{
  background-color: gray;
}
.banner {
    background-image: url("../images/mainpic4.jpg");
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
    text-align: center;
}
.banner-highlights {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 170px;
    width: 100%;
    transform: translate(-50%, -50%);
}

.banner-highlights h2 {
    color: white;
    position: absolute;
    left: 25%;
    top: 30px;
    text-align: center;
    vertical-align: middle;
}

.banner-highlights p {
    position: absolute;
    left: 21%;
    top: 70px;
}
.booking-btn {
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    top: 70px;
    right: 25%;
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 27px;
    cursor: pointer;
}

.booking-btn:hover,
.booking-btn:active {
    background: white;
    color: black;
}

.booking-btn:focus {
    outline: none;
}
